
.faq-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 700vw; // assuming 'dvw' was a typo, corrected to 'vw'
    font-family: 'Arial', sans-serif;
    color: #333;
    .faq-title {
      color: #004990; // or #000080 for navy blue
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 40px;
      width: 100%;
    }
    
    .faq-item {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      text-align: center; 
      align-items: center;
      width: 60vw; // corrected from 'dvw'
      flex-direction: column;

      
      &.open .faq-answer {
        padding-top: 10px;
        display: block;
      }
      
      .faq-question {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        border: 2px solid #0057b7; // Unified border style
        margin: 8px 0;
        width: 100%;
        border-radius: 10px; // Unified border-radius
        padding: 15px; // Added padding for consistency
        background-color: #f9f9f9; // Default background color
        transition: background-color 1s ease-in-out, border-color 1s ease-in-out; // Cool transition for background and border
        
        &:hover {
          background-color: #e8f0fe; // Unified hover background color
          border-color: #0057b7; // Add border color transition on hover
        }
      }
      
      .faq-answer {
        display: none;
        padding: 15px;
        border-left: 4px solid #0057b7;
        border-right: 4px solid #0057b7;
        border-bottom: 2px solid #0057b7;
        background-color: #fff;
        transition: all 1s ease-in-out; // Cool transition for showing the answer
      }
    }
    
    .faq-icon {
      display: inline-block;
      color: #9d8b57;
      font-weight: bold;
      margin-right: 8px;
    }
    
    .faq-text {
      display: inline;
      font-size: 16px;
      vertical-align: top;
    }
  }
}
