.container-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, auto); /* Default to two rows */

  grid-gap: 10px;
  max-width: 700px;
  min-width: 300px;
  margin: 20px auto;
}

.grid-item {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.grid-item:hover {
  border: 1px solid #004990;
  transform: scale(1.3);
  background: #004990;
  color: #9d8b57;
}

.grid-item.selected {
  background-color: #004990;
  color: white;
  border-color: #004990;
}

.header {
  color: #004990;
  text-align: center;
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: auto;
}

h1 {
  margin: 0;
}

p {
  color: #9d8b57;
  font-weight: bolder;
  text-align: center;
  margin-top: 10px;
}

/* Media Query for phones */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    min-width: unset;
  }
}

/* Media Query for tablets */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media Query for small desktops */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Media Query for large desktops */
@media screen and (min-width: 1201px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
